subflows/Parse JPEG.json
[{"id":"e3fbd4fc9e88e8f9","type":"subflow","name":"Parse JPEG ","info":"Parses JPEG image from MJPEG stream and adds metadata to msg.\r\n\r\nReads or adds:\r\n - Basic image info (width,height,size) \r\n - Exif data\r\n - Local timestamp, UTC timestamp, Unix timestamp \r\n - Thumbnail of the original image\r\n - Coordinates (if given)\r\n\r\n Output message is formatted to Tequ-API compatible format.\r\n\r\n","category":"Tequ-API Client","in":[{"x":40,"y":60,"wires":[{"id":"0ad01e4db3cc4002"}]}],"out":[{"x":960,"y":560,"wires":[{"id":"12d8ae0ea491e9a0","port":1}]}],"env":[{"name":"is_stream","type":"bool","value":"true","ui":{"label":{"en-US":"is_stream?"},"type":"input","opts":{"types":["bool","env"]}}},{"name":"latitude","type":"num","value":"66.503059","ui":{"type":"input","opts":{"types":["num","env"]}}},{"name":"longitude","type":"num","value":"25.726967","ui":{"type":"input","opts":{"types":["num","env"]}}},{"name":"thumbnail","type":"bool","value":"true","ui":{"type":"input","opts":{"types":["bool","env"]}}},{"name":"width","type":"num","value":"50","ui":{"type":"input","opts":{"types":["num","env"]}}},{"name":"camera_serial","type":"str","value":"12345678","ui":{"type":"input","opts":{"types":["str","env"]}}}],"meta":{"module":"tequ-parse-mjpeg","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Parse JPEG from stream and add metadata to image","license":"MIT"},"color":"#3FADB5","inputLabels":["MJPEG stream in"],"outputLabels":["image out"],"icon":"font-awesome/fa-image","status":{"x":780,"y":620,"wires":[{"id":"60ec2a93984204ab","port":0}]}},{"id":"aebcb13e27ca783b","type":"image-info","z":"e3fbd4fc9e88e8f9","name":"","x":170,"y":360,"wires":[["a174773931d05d02"]]},{"id":"a174773931d05d02","type":"exif","z":"e3fbd4fc9e88e8f9","name":"","mode":"normal","property":"payload","x":150,"y":420,"wires":[["147e0ea50b66313e"]]},{"id":"23399d5807614033","type":"moment","z":"e3fbd4fc9e88e8f9","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"utc_timestamp","outputType":"msg","outTz":"Europe/Helsinki","x":200,"y":180,"wires":[["38436ade4bc54d30"]]},{"id":"38436ade4bc54d30","type":"moment","z":"e3fbd4fc9e88e8f9","name":"","topic":"","input":"utc_timestamp","inputType":"msg","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en-US","output":"local_timestamp","outputType":"msg","outTz":"Europe/Helsinki","x":200,"y":240,"wires":[["d52ac8751801a804"]]},{"id":"d52ac8751801a804","type":"moment","z":"e3fbd4fc9e88e8f9","name":"","topic":"","input":"utc_timestamp","inputType":"msg","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"x","locale":"en-US","output":"unix_timestamp","outputType":"msg","outTz":"ETC/UTC","x":200,"y":300,"wires":[["aebcb13e27ca783b"]]},{"id":"60ec2a93984204ab","type":"status","z":"e3fbd4fc9e88e8f9","name":"","scope":["12d8ae0ea491e9a0"],"x":600,"y":620,"wires":[[]]},{"id":"ea440527ead07455","type":"function","z":"e3fbd4fc9e88e8f9","name":"Reformat data","func":"let type;\nlet random_name = uuid.v4();\nlet image_type = msg.type;\nlet file_extension;\nlet latitude = Number(env.get(\"latitude\"))\nlet longitude = Number(env.get(\"longitude\"))\nlet unix_timestamp = parseInt(msg.unix_timestamp);\nlet serial;\ntry{\n    serial = (msg.exif.image.ImageDescription).split(\"_\")[1];\n}\ncatch(e){\n    serial = \"unknown\"\n}\n\nlet datasource = serial;\n\nif (image_type == \"jpg\") {\n    image_type = \"image/jpeg\"\n    file_extension = \".jpg\"\n}\nelse if (image_type == \"png\") {\n    image_type = \"image/png\"\n    file_extension = \".png\"\n}\n\nmsg.topic = serial;\nmsg.datasource = serial;\nmsg.random_name = random_name;\nmsg.file_extension = file_extension;\n\nlet parameters = {}\n\ntry { parameters.owner = msg.exif.image.Copyright; } catch (e) { }\ntry { parameters.version = msg.exif.image.Software; } catch (e) { }\ntry { parameters.model = msg.exif.image.model; } catch (e) { }\ntry { parameters.manufacturer = msg.exif.image.Make; } catch (e) { }\ntry {\n    parameters.serial = msg.exif.image.Serial;\n}\ncatch (e) {\n    parameters.serial = env.get(\"camera_serial\");\n}    \n\nmsg.data = {\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\": [longitude, latitude]\n    },\n    \"properties\": {\n        \"datasource\": datasource,\n        \"local_timestamp\": msg.local_timestamp,\n        \"utc_timestamp\": msg.utc_timestamp,\n        \"unix_timestamp\": unix_timestamp,\n        \"cos\": {\n            \"bucket\": \"\",\n            \"region\": \"\",\n            \"service_id\": \"\"\n        },\n        \"object\": {\n            \"type\": image_type,\n            \"data\": {\n                \"width\": msg.width,\n                \"height\": msg.height,\n                \"size\": (msg.payload).length,\n                \"exif\": msg.exif,\n                \"parameters\": parameters,\n                \"original\": {\n                    \"image\": (msg.payload).toString('base64'),\n                    \"objectname\": datasource + \"-\" + random_name + file_extension,\n                    \"thumbnail\": (msg.thumbnail).toString('base64'),\n                    \"thumbnail_ms\": msg.thumbnail_ms,\n                    \"mjpeg_process_ms\":0\n                },\n                \"annotated\": {\n                    \"image\": \"\",\n                    \"objectname\": datasource + \"-\" + random_name+ \"_annotated\"+file_extension,\n                    \"thumbnail\": \"\",\n                    \"thumbnail_ms\":0,\n                    \"annotation_ms\":0,\n                    \"total_ms\":0\n                }\n            }\n        },\n        \"computer_vision\": {\n            \"type\": \"\",\n            \"model\": \"\",\n            \"inference_time\": \"\",\n            \"result\": \"\"\n        }\n    }\n}\n\ndelete msg.settings;\ndelete msg.width;\ndelete msg.height;\ndelete msg.type;\ndelete msg.exif;\ndelete msg.thumbnail;\ndelete msg.utc_timestamp;\ndelete msg.local_timestamp;\ndelete msg.unix_timestamp;\ndelete msg.start;\ndelete msg.thumbnail_ms;\ndelete msg.datasource;\ndelete msg.random_name;\ndelete msg.file_extension;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"uuid","module":"uuid"}],"x":620,"y":480,"wires":[["076a7ba600a74172"]]},{"id":"147e0ea50b66313e","type":"change","z":"e3fbd4fc9e88e8f9","name":"timer","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":420,"wires":[["413095cf7080e68e"]]},{"id":"ead3da8c080b3d6a","type":"change","z":"e3fbd4fc9e88e8f9","name":"end timer","rules":[{"t":"set","p":"thumbnail_ms","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":420,"wires":[["ea440527ead07455"]]},{"id":"707ecedadab6f041","type":"change","z":"e3fbd4fc9e88e8f9","name":"timer","rules":[{"t":"set","p":"process_start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":100,"wires":[["23399d5807614033"]]},{"id":"413095cf7080e68e","type":"function","z":"e3fbd4fc9e88e8f9","name":"resize","func":"let input = msg.payload;\nlet width = env.get(\"thumbnail_width\")\nlet create_thumbnail = env.get(\"thumbnail\")\nlet thumbnail;\n\nif (create_thumbnail){\n  thumbnail = await sharp(input)\n    .metadata()\n    .then(({ width }) => sharp(input)\n      .resize({ width: width })\n      .toBuffer()\n  );\n\n}\nelse{\n  thumbnail = []\n}\nmsg.thumbnail = thumbnail\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"sharp","module":"sharp"}],"x":450,"y":420,"wires":[["ead3da8c080b3d6a"]]},{"id":"076a7ba600a74172","type":"change","z":"e3fbd4fc9e88e8f9","name":"end timer","rules":[{"t":"set","p":"data.properties.object.data.original.mjpeg_process_ms","pt":"msg","to":"$millis() - msg.process_start","tot":"jsonata"},{"t":"delete","p":"process_start","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":540,"wires":[["12d8ae0ea491e9a0"]]},{"id":"70015915d45fd396","type":"split","z":"e3fbd4fc9e88e8f9","name":"","splt":"[255, 216, 255]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":330,"y":40,"wires":[["e63f9336a8c24266"]]},{"id":"e63f9336a8c24266","type":"function","z":"e3fbd4fc9e88e8f9","name":"Join","func":"let header = Buffer.from(msg.parts.ch);\nlet image = Buffer.from(msg.payload);\nlet arr = [header,image]\nmsg.payload = Buffer.concat(arr)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":40,"wires":[["707ecedadab6f041"]]},{"id":"12d8ae0ea491e9a0","type":"msg-speed","z":"e3fbd4fc9e88e8f9","name":"images","frequency":"sec","interval":1,"estimation":false,"ignore":false,"pauseAtStartup":false,"topicDependent":false,"x":760,"y":540,"wires":[[],[]]},{"id":"0ad01e4db3cc4002","type":"switch","z":"e3fbd4fc9e88e8f9","name":"is_stream?","property":"is_stream","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":60,"wires":[["70015915d45fd396"],["707ecedadab6f041"]]}]
