flows/example-receive-video-and-send.json
[{"id":"ffeafac1.b0db18","type":"subflow","name":"[API] Get Token","info":"Username and password for login are configured in settings-file.\n\nprocess.env.client_email = \"email\";\nprocess.env.client_password = \"password\";\n\nPlease contact Tequ-API administrator to get credentials.\n\n[https://api.tequ.fi]()","category":"Tequ-API","in":[{"x":80,"y":140,"wires":[{"id":"d7310f56.fb383"}]}],"out":[{"x":1320,"y":340,"wires":[{"id":"c4734d48.7f0ff","port":0}]},{"x":880,"y":80,"wires":[{"id":"50252e9e.d28d4","port":0}]}],"env":[{"name":"username","type":"env","value":"client_email","ui":{"icon":"font-awesome/fa-user-o"}},{"name":"password","type":"env","value":"client_password","ui":{"icon":"font-awesome/fa-lock"}},{"name":"API_BASE_URL","type":"str","value":"https://test.tequ.fi"}],"meta":{},"color":"#FFCC66","icon":"node-red/envelope.svg","status":{"x":1320,"y":480,"wires":[{"id":"6096db38.546e94","port":0}]}},{"id":"dfacae6d.01672","type":"function","z":"ffeafac1.b0db18","name":"App-ID Token","func":"if(msg.topic == \"force_update\"){\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Forced update.\"})\n}\nelse{\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Updating token...\"})\n}\n\n\nvar username = env.get(\"username\");\nvar password = env.get(\"password\");\n\nmsg.url      =  env.get(\"API_BASE_URL\")+\"/api/v1/token\"\nmsg.method   = 'POST';\n\nmsg.payload  = {\n    \"grant_type\":\"password\",\n    \"username\":username,\n    \"password\":password\n};\n\nmsg.headers  = {\n                \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":340,"wires":[["bffe1286.5564"]]},{"id":"bffe1286.5564","type":"http request","z":"ffeafac1.b0db18","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":340,"wires":[["c4734d48.7f0ff"]]},{"id":"c4734d48.7f0ff","type":"function","z":"ffeafac1.b0db18","name":"Parse response","func":"var token = msg.payload.access_token;\nvar decoded = jwtDecode(token);\nmsg.payload = {\n    \"decoded\":decoded,\n    \"token\":token\n}\nnode.status({fill:\"green\",shape:\"dot\",text:\"Token updated.\"})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"jwtDecode","module":"jwt-decode"}],"x":1140,"y":340,"wires":[[]]},{"id":"db473541.b967b8","type":"switch","z":"ffeafac1.b0db18","name":"check keys","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"exp","vt":"str"},{"t":"hask","v":"iat","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":140,"wires":[[],["50252e9e.d28d4"],["431c0f8ee889f44d","dfacae6d.01672"]]},{"id":"50252e9e.d28d4","type":"function","z":"ffeafac1.b0db18","name":"Check token","func":"jwt = msg.payload;\ntime_left = jwt.exp - Math.round(new Date().getTime()/1000);\n\nif(time_left > 120){\n    node.status({fill:\"green\",shape:\"dot\",text:\"TOKEN OK. \"+time_left+\" s left.\"})\n    msg.do_login = false;\n}\nelse{\n    node.status({fill:\"red\",shape:\"dot\",text:\"Token expired. LOGIN again\"})\n    msg.do_login = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":140,"wires":[["2c7d2b4f.126d34"]]},{"id":"2c7d2b4f.126d34","type":"switch","z":"ffeafac1.b0db18","name":"LOGIN?","property":"do_login","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":260,"wires":[["dfacae6d.01672"]]},{"id":"d7310f56.fb383","type":"switch","z":"ffeafac1.b0db18","name":"Force update","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"force_update","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":140,"wires":[["dfacae6d.01672"],["db473541.b967b8"]]},{"id":"6096db38.546e94","type":"status","z":"ffeafac1.b0db18","name":"","scope":["dfacae6d.01672","c4734d48.7f0ff","50252e9e.d28d4","431c0f8ee889f44d"],"x":940,"y":480,"wires":[[]]},{"id":"431c0f8ee889f44d","type":"function","z":"ffeafac1.b0db18","name":"status","func":"node.status({fill:\"red\",shape:\"dot\",text:\"Please supply decoded token in msg.payload\"})","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":340,"wires":[]},{"id":"b8fbe62fead66051","type":"subflow","name":"[API] Send video clip","info":"","category":"Tequ-API","in":[{"x":100,"y":80,"wires":[{"id":"00e3679fc53ddc63"}]}],"out":[{"x":1420,"y":80,"wires":[{"id":"7f8b0060df7068e8","port":0}]},{"x":840,"y":240,"wires":[{"id":"ad5d029407a79463","port":0}]}],"env":[{"name":"times_to_try","type":"num","value":"3"},{"name":"API_BASE_URL","type":"str","value":"https://test.tequ.fi"}],"meta":{"version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Send video clip to Tequ-API.","license":"MIT"},"color":"#FFCC66","status":{"x":1220,"y":360,"wires":[{"id":"3a3e6603366020e7","port":0}]}},{"id":"ad5d029407a79463","type":"http request","z":"b8fbe62fead66051","name":"POST","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":670,"y":140,"wires":[["694703b967bf7f61"]]},{"id":"a56004f39a8625a5","type":"function","z":"b8fbe62fead66051","name":"HTTP request","func":"if(msg.token){\n    times_to_try = env.get(\"times_to_try\")\n    token = msg.token;\n    msg.data = msg.payload;\n    msg.method = \"POST\";\n    msg.url = env.get(\"API_BASE_URL\")+\"/api/v1/video/add\"\n    msg.headers  = {\n                    \"Content-Type\": \"application/json\",\n                    'Authorization': \"Bearer \"+token \n    };\n    node.status({fill:\"blue\",shape:\"dot\",text:\"Sending video clip...\"})\n    return msg;\n}\nelse{\n    node.status({fill:\"red\",shape:\"dot\",text:\"msg.token is missing\"})\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":80,"wires":[["ad5d029407a79463"]]},{"id":"694703b967bf7f61","type":"switch","z":"b8fbe62fead66051","name":"statusCode?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"201","vt":"num"},{"t":"eq","v":"500","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":870,"y":140,"wires":[["a0f79113918670e4"],["a0f79113918670e4"],["7f6ef0613391d9ad"],["d0f3ccda13482db7"]]},{"id":"d8a193b50f2eef8a","type":"link out","z":"b8fbe62fead66051","name":"","links":["3e672b1b28681dfe"],"x":1415,"y":160,"wires":[]},{"id":"3e672b1b28681dfe","type":"link in","z":"b8fbe62fead66051","name":"Try again","links":["d8a193b50f2eef8a"],"x":195,"y":140,"wires":[["9adda9c6deb4f5ec"]]},{"id":"d0f3ccda13482db7","type":"function","z":"b8fbe62fead66051","name":"Format for resend","func":"times_to_try = env.get(\"times_to_try\")\n\nif(msg.times_to_try >= times_to_try){\n    node.status({fill:\"red\",shape:\"dot\",text:msg.statusCode+\": \"+msg.payload.message})\n    msg.times_to_try = msg.times_to_try + 1\n    return msg;\n}\nelse{\n    msg.payload = msg.data\n    msg.times_to_try = msg.times_to_try + 1\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Trying again... \"+msg.times_to_try+\"/\"+times_to_try})\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":160,"wires":[["58e7668564dc0dc6"]]},{"id":"58e7668564dc0dc6","type":"delay","z":"b8fbe62fead66051","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"10","randomUnits":"seconds","drop":false,"outputs":1,"x":1280,"y":160,"wires":[["d8a193b50f2eef8a"]]},{"id":"3a3e6603366020e7","type":"status","z":"b8fbe62fead66051","name":"","scope":["a56004f39a8625a5","d0f3ccda13482db7","7f8b0060df7068e8","4eea20db39afbd82"],"x":1080,"y":360,"wires":[[]]},{"id":"7f8b0060df7068e8","type":"function","z":"b8fbe62fead66051","name":"Status","func":"node.status({fill:\"green\",shape:\"dot\",text:\"Video clip sent @\"+msg.sent_timestamp+\" in \"+msg.send_time+\" ms\"})\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":80,"wires":[[]]},{"id":"c682c6113ef9881d","type":"change","z":"b8fbe62fead66051","name":"timer","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["a56004f39a8625a5"]]},{"id":"a0f79113918670e4","type":"change","z":"b8fbe62fead66051","name":"end timer","rules":[{"t":"set","p":"send_time","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":80,"wires":[["67e3740736305dda"]]},{"id":"00e3679fc53ddc63","type":"change","z":"b8fbe62fead66051","name":"","rules":[{"t":"set","p":"times_to_try","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["c682c6113ef9881d"]]},{"id":"9adda9c6deb4f5ec","type":"switch","z":"b8fbe62fead66051","name":"times_to_try?","property":"times_to_try","propertyType":"msg","rules":[{"t":"gt","v":"times_to_try","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":140,"wires":[["7f6ef0613391d9ad"],["c682c6113ef9881d"]]},{"id":"4eea20db39afbd82","type":"file","z":"b8fbe62fead66051","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":710,"y":360,"wires":[["6c95575b3da757b4"]]},{"id":"8b718d4f07f6116a","type":"function","z":"b8fbe62fead66051","name":"Format filename","func":"var platform = os.platform();\nvar name = (msg.data.properties.object.data.original.objectname).split(\".\")[0]\n\nif(platform == \"linux\"){\n    msg.filename = 'videos/'+msg.ts_for_file+\"/\"+name+\".json\";\n}\nelse if(platform == \"win32\"){\n    msg.filename = \"videos\\\\\"+msg.ts_for_file+\"\\\\\"+name+\".json\";\n}\n\nmsg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"os","module":"os"}],"x":540,"y":360,"wires":[["4eea20db39afbd82"]]},{"id":"6c95575b3da757b4","type":"function","z":"b8fbe62fead66051","name":"Update status","func":"node.status({fill:\"blue\",shape:\"dot\",text:\"Payload saved to file.\"})","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":360,"wires":[]},{"id":"7f6ef0613391d9ad","type":"moment","z":"b8fbe62fead66051","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en-US","output":"ts_for_file","outputType":"msg","outTz":"ETC/UTC","x":320,"y":360,"wires":[["8b718d4f07f6116a"]]},{"id":"67e3740736305dda","type":"moment","z":"b8fbe62fead66051","name":"ts","topic":"","input":"","inputType":"date","inTz":"Europe/Kiev","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"en-US","output":"sent_timestamp","outputType":"msg","outTz":"Europe/Kiev","x":1190,"y":80,"wires":[["7f8b0060df7068e8"]]},{"id":"aa4a2395a53120f6","type":"tab","label":"Tequ-API (video)","disabled":false,"info":""},{"id":"3d4d23f2cd5af974","type":"function","z":"aa4a2395a53120f6","name":"Prepare data","func":"var type = msg.req.headers[\"content-type\"];\nvar filename = msg.filename;\nvar datasource = msg.req.query.datasource;\nvar mode = msg.req.query.mode;\nvar fileSize = (msg.videoData).length;\nvar timezone = \"Europe/Helsinki\";\nvar latitude = 67.100403690;\nvar longitude = 27.475650430;\nvar height = msg.payload.streams[0].height;\nvar width = msg.payload.streams[0].width;\n\nvar dateValues = filename.split(\"-\")\nvar localTS = dateValues[0]+\"-\"+dateValues[1]+\"-\"+dateValues[2]+\" \"+dateValues[3]+\":\"+dateValues[4]+\":\"+dateValues[5].split(\".\")[0]\n\nvar file_extension = filename.split(\".\")[1]\nvar random_name = uuid.v4();\n\ncloudantMsg = {\"payload\":{}}\ncloudantMsg.token = flow.get(\"token\") || \"\"\ncloudantMsg.payload = {\n    \"type\": \"Feature\",\n    \"geometry\": {\n        \"type\": \"Point\",\n        \"coordinates\": [longitude, latitude]\n    },\n    \"properties\": {\n        \"datasource\":datasource,\n        \"local_timestamp\":localTS,\n        \"utc_timestamp\":localTS,\n        \"unix_timestamp\":localTS,\n        \"timezone\":timezone,\n        \"cos\":{\n            \"bucket\":\"\",\n            \"region\":\"\",\n            \"service_id\":\"\"\n        },\n        \"object\":{\n            \"type\":type,\n            \"parameters\":{\n                \"mode\":mode\n            },\n            \"data\":{\n                \"width\": width,\n                \"height\": height,\n                \"size\": fileSize,\n                \"ffprobe\":msg.payload,\n                \"original\":{\n                    \"video\":(msg.videoData).toString('base64'),\n                    \"objectname\":datasource+\"-\"+random_name+'.'+file_extension\n                }\n        }   \n        },\n        \"computer_vision\":{\n            \"type\":\"\",\n            \"model\":\"\",\n            \"inference_time\":0,\n            \"result\":{},\n            \"classes\":{}\n        }\n    }\n}\n\nreturn cloudantMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"uuid","module":"uuid"}],"x":350,"y":440,"wires":[["56b7d63cbdc642ae","953cf11a017bee16"]]},{"id":"aba13c039b2f885b","type":"debug","z":"aa4a2395a53120f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":640,"wires":[]},{"id":"953cf11a017bee16","type":"moment","z":"aa4a2395a53120f6","name":"UTC timestamp","topic":"","input":"payload.properties.local_timestamp","inputType":"msg","inTz":"Europe/Helsinki","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"payload.properties.utc_timestamp","outputType":"msg","outTz":"ETC/UTC","x":360,"y":500,"wires":[["f6508cac91549fd7"]]},{"id":"f6508cac91549fd7","type":"moment","z":"aa4a2395a53120f6","name":"Unix timestamp","topic":"","input":"payload.properties.local_timestamp","inputType":"msg","inTz":"Europe/Helsinki","adjAmount":0,"adjType":"days","adjDir":"add","format":"x","locale":"en-US","output":"payload.properties.unix_timestamp","outputType":"msg","outTz":"ETC/UTC","x":360,"y":580,"wires":[["7e18d3ddddd5b466"]]},{"id":"7e18d3ddddd5b466","type":"function","z":"aa4a2395a53120f6","name":"Format unix_timestamp","func":"msg.payload.properties.unix_timestamp = Number(msg.payload.properties.unix_timestamp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":640,"wires":[["aba13c039b2f885b","68cee46cd937b215"]]},{"id":"68cee46cd937b215","type":"change","z":"aa4a2395a53120f6","name":"Set token","rules":[{"t":"set","p":"token","pt":"msg","to":"token[\"token\"]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":700,"wires":[["3ff7b7bae3f2c0bc"]]},{"id":"6e6631952791a23c","type":"inject","z":"aa4a2395a53120f6","name":"","props":[{"p":"payload"},{"p":"topic","v":"client_email","vt":"env"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":860,"wires":[["7c825e0d1b2fa3b5"]]},{"id":"7c825e0d1b2fa3b5","type":"debug","z":"aa4a2395a53120f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":860,"wires":[]},{"id":"bfefc50ec003cf19","type":"debug","z":"aa4a2395a53120f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":900,"wires":[]},{"id":"c507032007fa99c5","type":"inject","z":"aa4a2395a53120f6","name":"","props":[{"p":"payload"},{"p":"topic","v":"client_password","vt":"env"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":900,"wires":[["bfefc50ec003cf19"]]},{"id":"5c5238e153cb1507","type":"comment","z":"aa4a2395a53120f6","name":"Receive video clips from kilpiaapa","info":"API-key\n\nBZM1Jw8CB4YtMJNc24SbzpXvLRC3JuGjjKGqxQtKHWbH\n\n","x":160,"y":20,"wires":[]},{"id":"6acb1b59f2a66b01","type":"http in","z":"aa4a2395a53120f6","name":"","url":"/videoclip","method":"post","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["da637adb2843b42f","cf77bffe14107d10","8be8550641672b63"]]},{"id":"da637adb2843b42f","type":"http response","z":"aa4a2395a53120f6","name":"","statusCode":"","headers":{},"x":410,"y":60,"wires":[]},{"id":"603444449206edfd","type":"debug","z":"aa4a2395a53120f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":160,"wires":[]},{"id":"56b7d63cbdc642ae","type":"debug","z":"aa4a2395a53120f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":440,"wires":[]},{"id":"6a76fa571f8dfb42","type":"function","z":"aa4a2395a53120f6","name":"","func":"var datasource = msg.req.query.datasource;\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Datasource: \"+datasource});\n\nif(datasource == \"2\"){\n    return [msg,null];\n}\nelse if(datasource == \"3\"){\n    return [null,msg];\n}\nelse{\n    return [null,null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":440,"wires":[["3d4d23f2cd5af974","8abd97903f851d7e"],["3d4d23f2cd5af974"]],"outputLabels":["Datasource 2","Datasource 3"]},{"id":"8abd97903f851d7e","type":"debug","z":"aa4a2395a53120f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":400,"wires":[]},{"id":"927bbbb010a03ccb","type":"file","z":"aa4a2395a53120f6","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":130,"y":160,"wires":[["603444449206edfd","8611dc3c196ed9da"]]},{"id":"cf77bffe14107d10","type":"function","z":"aa4a2395a53120f6","name":"Prepare data","func":"var fileName = msg.req.headers[\"content-disposition\"].split(\";\")[1].split(\"=\");\nmsg.filename = fileName[1].replace(/\"/g, \"\")\nmsg.videoData = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"uuid","module":"uuid"}],"x":110,"y":100,"wires":[["927bbbb010a03ccb"]]},{"id":"8611dc3c196ed9da","type":"exec","z":"aa4a2395a53120f6","command":"c:\\ffmpeg\\bin\\ffprobe.exe","addpay":"filename","append":"-v quiet -print_format json -show_format -show_streams","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":190,"y":240,"wires":[["4ccbfc05e6f3abe9","17a9562be8850130"],[],[]]},{"id":"4ccbfc05e6f3abe9","type":"json","z":"aa4a2395a53120f6","name":"","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["f1c4725296904469"]]},{"id":"3ff7b7bae3f2c0bc","type":"subflow:b8fbe62fead66051","z":"aa4a2395a53120f6","name":"[API] Send video clip","env":[{"name":"API_BASE_URL","value":"https://api.tequ.fi","type":"str"},{"name":"failed_to_send_path","value":"/root/failed/","type":"str"}],"x":370,"y":760,"wires":[["ca8651ae396bd17d"],["f7bd471ed6336cf2"]]},{"id":"ca8651ae396bd17d","type":"debug","z":"aa4a2395a53120f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":740,"wires":[]},{"id":"f7bd471ed6336cf2","type":"debug","z":"aa4a2395a53120f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":780,"wires":[]},{"id":"f1c4725296904469","type":"file","z":"aa4a2395a53120f6","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"delete","encoding":"none","x":130,"y":340,"wires":[["6a76fa571f8dfb42"]]},{"id":"8be8550641672b63","type":"debug","z":"aa4a2395a53120f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":405.8958435058594,"y":109.88888549804688,"wires":[]},{"id":"5cf56a72701d69d8","type":"comment","z":"aa4a2395a53120f6","name":"U5WQskLQkXKPyB","info":"","x":630,"y":360,"wires":[]},{"id":"52e35c5d.d8e104","type":"subflow:ffeafac1.b0db18","z":"aa4a2395a53120f6","name":"","env":[{"name":"username","value":"TEQU-API-USERNAME","type":"env"},{"name":"password","value":"TEQU-API-PASSWORD","type":"env"},{"name":"API_BASE_URL","value":"https://api.tequ.fi","type":"str"}],"x":900,"y":180,"wires":[["db3f33c75e9f51fb"],[]]},{"id":"b0758ccf.21a41","type":"inject","z":"aa4a2395a53120f6","name":"Update token","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"token[\"decoded\"]","payloadType":"global","x":680,"y":180,"wires":[["52e35c5d.d8e104"]]},{"id":"8f4bf4f73e26688e","type":"debug","z":"aa4a2395a53120f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":160,"wires":[]},{"id":"db3f33c75e9f51fb","type":"change","z":"aa4a2395a53120f6","name":"Set token","rules":[{"t":"set","p":"token","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":160,"wires":[["8f4bf4f73e26688e"]]},{"id":"b183c2acc2169c3e","type":"inject","z":"aa4a2395a53120f6","name":"Force update","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"force_update","x":690,"y":220,"wires":[["52e35c5d.d8e104"]]},{"id":"17a9562be8850130","type":"debug","z":"aa4a2395a53120f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":320,"wires":[]}]
